<!DOCTYPE html>
<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #title {
      font-family: "Oswald", sans-serif;
      font-size: 50vh;
    }
    #footer {
      font-family: "Oswald", sans-serif;
      font-size: 5vh;
      color: grey;
    }
  </style>
  <title>Tha FCK</title>
</head>
<body>
  <div class="container">
    <p id="title">
      tha<b><i>FCK.</i></b>
    </p>
    <p id="footer">
      Made for no reason |
      <a href="https://www.github.com/yashkirr/ThaFck">@yashkirr</a>
    </p>
  </div>
</body>
